// Regular
$color-1: #1f9dff;
$color-2: #1fffd8;
$color-3: #991fff;
$color-4: #ffdd1f;

// Infusion Colours
$infusion-bg: #000000;
$infusion-bg-light: #1A1A1C;
$infusion-accent: #303036;
$infusion-light: #707070;
$infusion-text: #ffffff;
$infusion-color-1: #ffdd1f;
$infusion-color-2: #ff4c33;
$infusion-color-3: #1f9dff;
$infusion-color-4: #1fffd8;
$infusion-color-5: #b358ff;
$infusion-color-6: #44ff1f;