// Regular
$color-1: #1f9dff;
$color-2: #1fffd8;
$color-3: #991fff;
$color-4: #ffdd1f;

// Dark
$color-1-dark: #006cc0;
$color-2-dark: #00c09f;
$color-3-dark: #6900c0;
$color-4-dark: #c0a300;

// Light
$color-1-light: #89cbff;
$color-2-light: #89ffea;
$color-3-light: #c989ff;
$color-4-light: #ffed89;