// Regular
$color-1: #1f9dff;
$color-2: #1fffd8;
$color-3: #991fff;
$color-4: #ffdd1f;

// Dark
$color-1-dark: #006cc0;
$color-2-dark: #00c09f;
$color-3-dark: #6900c0;
$color-4-dark: #c0a300;

// Light
$color-1-light: #89cbff;
$color-2-light: #89ffea;
$color-3-light: #c989ff;
$color-4-light: #ffed89;

// Museum Colours
$white-0: #ffffff;
$white-1: #f9f9f9;
$white-2: #f2f2f2;
$white-3: #ececec;
$white-4: #e6e6e6;
$black-0: #000000;
$black-1: #1a1a1a;
$black-2: #202020;
$black-3: #333333;
$black-4: #4d4d4d;


// Infusion Colours
$infusion-bg: #1A1A1C;
$infusion-bg-light: #202124;
$infusion-accent: #303036;
$infusion-light: #707070;
$infusion-text: #ffffff;