@import "normalize";
@import "rouge-github";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto&display=swap');

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 1.15;
  color: white;
  background-color: black;
}

h1 {
  font-family: "Josefin Sans Thin", "Roboto Thin", "Futura", "Century Gothic", sans-serif;
  font-weight: normal;
  font-size: 3em;
  padding: 0;
  margin: 0;
  line-height: 1;
}

h2 {
  font-family: "Josefin Sans Light", "Roboto Light", "Futura", "Century Gothic", sans-serif;
  font-weight: normal;
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  color: $color-2;
}

h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: $section-headings-color;
}

#skip-to-content {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;

  &:focus {
    position: fixed;
    top: 10px;
    left: 10px;
    height: auto;
    width: auto;
    background: invert($body-link-color);
    outline: thick solid invert($body-link-color);
  }
}

a {
  color: $color-2;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  text-transform: uppercase;
  font-family: "Josefin Sans Thin", "Roboto Thin", "Futura", "Century Gothic", sans-serif;
  font-size: 3rem;
  font-weight: normal;
  margin-bottom: 1rem;
  color: white;
  //background-color: $color-2;
  //border-color: rgba(255, 255, 255, 0.2);
  //border-style: solid;
  //border-width: 1px;
  //border-radius: 2rem;
  transition: color 0.5s;

  &:hover {
    //color: #01ffd2;
    text-decoration: none;
    color: $color-2;
    //border-color: rgba(255, 255, 255, 0.3);
  }

  @include medium {
    font-size: 2rem;
  }

  @include small {
    font-size: 2rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.btn-disabled {
  @extend .btn;
  color: gray;
  &:hover {
    text-decoration: none;
    color: gray;
  }
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:1000;
  background-image: linear-gradient(black, #00000000);
  text-align: center;
  padding: 2rem;

  /*@include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }*/
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
  font-size: 2rem
  /*@include large {
    font-size: 3.25rem;
  }

  @include medium {
    font-size: 2.25rem;
  }

  @include small {
    font-size: 1.75rem;
  }*/
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  //opacity: 0.7;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

.main-content {
  
  word-wrap: break-word;
  text-align: left;

  :first-child {
    margin-top: 0;
  }

  @include large {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    //font-size: 1.1rem;
  }

  @include medium {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
  
  kbd {
    background-color: #fafbfc;
    border: 1px solid #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
    color: #444d56;
    display: inline-block;
    font-size: 11px;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
  }

  img {
    max-width: 100%;
  }

  p {
    margin-bottom: 1em;
  }

  code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: $code-text-color;
    background-color: $code-bg-color;
    border-radius: 0.3rem;
  }

  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;
    border: solid 1px $border-color;
    border-radius: 0.3rem;

    > code {
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      color: $code-text-color;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  .highlight pre,
  pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
  }

  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    &:before,
    &:after {
      content: normal;
    }
  }

  ul,
  ol {
    margin-top: 0;
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    border-left: 0.3rem solid $border-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-color;
    }
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $hr-border-color;
    border: 0;
  }
}

.site-footer {
  //background-color: $header-bg-color;
  color: $header-heading-color;
  text-align: center;
  padding: 2rem
/*
  @include large {
    font-size: 1rem;
  }

  @include medium {
    font-size: 1rem;
  }

  @include small {
    font-size: 0.9rem;
  }*/
}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: $blockquote-text-color;
}

.nav{
  text-transform: uppercase;
  font-family: "Josefin Sans Light", "Roboto Light", "Futura", "Century Gothic", sans-serif;
  font-weight: normal;

  @include large {
    font-size: 24px;
    padding: 2rem;
  }

  @include medium {
    font-size: 1rem;
    padding: 0.5rem;
  }

  @include small {
    font-size: 0.6rem;
    padding: 0rem;
  }
}

.current-nav {
  @extend .nav;
  color: white;


  &:hover {
    //color: #01ffd2;
    text-decoration: none;
    //border-color: rgba(255, 255, 255, 0.3);
  }
}

.unselected-nav {
  @extend .nav;
  color: $color-2;

  transition: color 0.5s;

  &:hover {
    //color: #01ffd2;
    text-decoration: none;
    color: white;
    //border-color: rgba(255, 255, 255, 0.3);
  }
}

.social {
  text-transform: uppercase;
  color: white;
  font-family: "Josefin Sans Light", "Roboto Light", "Futura", "Century Gothic", sans-serif;
  font-weight: normal;
  font-size: 24px;
  padding: 0.5rem;

  transition: color 0.5s;

  &:hover {
    //color: #01ffd2;
    text-decoration: none;
    color: $color-2;
    //border-color: rgba(255, 255, 255, 0.3);
  }
}

.floating-image-right {
  float: right; 
  width: auto; 
  max-width: 33%; 
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  object-fit: cover;

  @include large {
    margin-left: 5rem;
  }

  @include medium {
    margin-left: 3rem;
  }

  @include small {
    margin-left: 1rem;
  }

}

.floating-image-left {
  float: left; 
  width: auto; 
  max-width: 33%; 
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top:0;
  object-fit: cover;

  @include large {
    margin-right: 5rem;
  }

  @include medium {
    margin-right: 3rem;
  }

  @include small {
    margin-right: 1rem;
  }

}

.display-image{
  width: auto;
  max-height: 80vh;
}


.scrolling-image{
  @extend .floating-image-left;
  max-width: 100%; width :100%; float:none
}

.top-image {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  position: absolute;
}

.right-float-image {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}


.slide-image {
  visibility: hidden;
}

.fade-image{
  visibility: hidden;
}

.fade-in {
  -webkit-animation: animat_show 3s;
  animation: animat_show 3s;
  visibility: visible !important;
}

.fade-in-fast {
  -webkit-animation: animat_show 1s;
  animation: animat_show 1s;
  visibility: visible !important;
  opacity: 1;
}

.fade-out-fast {
  -webkit-animation: animat_hide 1s;
  animation: animat_hide 1s;
  visibility: visible !important;
  opacity: 0;
}


@keyframes animat_show{
  0%{opacity:0}
  100%{opacity:1}
}

@-webkit-keyframes animat_show{
  0%{opacity:0}
  100%{opacity:1}
}

@keyframes animat_hide{
  100%{opacity:0}
  0%{opacity:1}
}

@-webkit-keyframes animat_hide{
  100%{opacity:0}
  0%{opacity:1}
}