---
layout: infusion-new
title: Infusion - Free Your Inspiration
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

    <head>
        <title>{{page.title}} | Infusion - Free Your Inspiration</title>
        <link rel="shortcut icon" type="image/png" href="/infusion/assets/images/favicon.png">
    
        {% if site.google_analytics %}
          <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '{{ site.google_analytics }}');
          </script>
        {% endif %}
        <meta charset="UTF-8">
    
        <title>Infusion - Free Your Inspiration</title>
        <meta name="description" content="Free your inspiration and conquer creative blocks with Infusion,  an Android and iOS app that turns your photos into using an AI.">
        <meta name=”robots” content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <link rel="stylesheet" href="{{ 'assets/css/infusion-style.css?v=' | append: site.github.build_revision | relative_url }}">
        
        
    </head>
    <body>

        <header class="page-header">
          {% include infusion-navigation.html %}
        </header>
        
        <a id="skip-to-content" href="#content">Skip to the content.</a>
    
        <main style="min-height: 100vh;">
          {{ content }}
        </main>

        <footer class="site-footer">
          <section class="panel" style="height: auto;">
            <img src="/infusion/assets/images/logos/LogoText.png" style="max-width: 30%;">
            <img src="/assets/images/LogoLarge.png" style="max-width: 30%;">
          </section>
          <br>
          <section class="panel" style="height: auto;">
            <a href="https://apps.apple.com/app/infusion-create-ai-artworks/id1495533107">
              <img src="/infusion/assets/images/app-store-preorder-badge.png" style="height: 15vh;"/>
            </a>
            <a href="https://play.google.com/store/apps/details?id=insightfulai.infusion">
              <img src="/infusion/assets/images/google-play-preregistration-badge.png" href="/infusion/download.html" style="height: 15vh;"/>
            </a>

          </section>
          <br>
          <section class="panel" style="height: auto;">
            {% for item in site.data.social %}
              <a href="{{ item.link }}" class="unselected-nav-0" style="text-decoration: underline;">{{ item.name }}</a>    
            {% endfor %}
            <a href="/infusion/contact.html" class="unselected-nav-0" style="text-decoration: underline;">Contact</a> 
            <a href="/infusion/news.html" class="unselected-nav-0" style="text-decoration: underline;">News</a> 
            <!--<a href="/" class="unselected-nav-0" style="text-decoration: underline;">Back to Insightful AI</a>-->
          </section>
          <p style="color: gray; font-size: 1rem;">
            © Insightful AI 2020
          </p>
          </section>
        </footer>
    </body>

</html>